@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Poppins:ital,wght@0,600;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 5rem 9%;
    min-height: 100vh;
    text-align: left;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.7rem;
    margin: 0 1rem;
    transition: .3s;
    font-weight: 500;
    margin-left: 4rem;

}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.5rem;
    cursor: pointer;
    display: none;
    color: var(--text-color);

}

.home-image img {
    width: 30rem;
    height: 30rem;
    align-items: center;
    border-radius: 60%;
    justify-content: center;
    border-style: ridge;
}

.home {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
    font-size: 3rem;


}

.home-content h1 {
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 600;
    margin: 1rem 0;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.7rem;
    color: var(--text-color);

}

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: #48bfe3;
    color: var(--second-bg-color);
    box-shadow: 0 .5rem 1rem var(--main-color);

}

.social-media a::before {
    background: #fff;
}
.social-projects a {
    display: inline-flex;
    align-items: left;
    justify-content: left;
    width: 4rem;
    height: 4rem;
/*    border-radius: 100%; */
    background: transparent;
/*     border: .2rem solid var(--main-color); */
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: .5s ease;
}

.social-projects a:hover {
    background: #48bfe3;
    color: var(--second-bg-color);
/*     box-shadow: 0 .5rem 1rem var(--main-color); */

}

.social-projects a::before {
    background: #fff;
}

.about-image img {
    width: 40rem;
    height: 40rem;
    border-radius: 60%;
    justify-content: center;
    border-style: ridge;

}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 2rem;
}
.about-content

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    color: #0ef;

}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.7rem;
    color: var(--text-color);
    text-align: left;
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #0ef;
    box-shadow: 0 0.5rem var(--main-color);
    border: #0ef;
    border-radius: 60px;
    width: 50%;
    margin-top: 20px;
    transform: .5sec ease;

}
.btn:hover {
    box-shadow: 0 .5rem 1rem var(--main-color);
}
.contact  {
    text-align: center;
    display: block;
    justify-content: space-between;
}
label {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    color:#1f242d;
    align-items: center;
    margin: 0.5rem 0;
    margin-bottom: 2px;
    font-weight: 600;
    max-width: 60rem;
}
input {
    border: 2px solid;
    background-color: #414449;
    margin-top: 10px;
    margin-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
    min-height: 5rem;
    max-width: 70rem;
    width: 100%;
}
textarea {
    border: 2px solid;
    background-color: #424346;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 2em;
    max-width: 70rem;
    width: 100%;
    height: 100%;
    min-height: 30rem;
}
.button {
    margin-top: 5px;
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--bg-color);
    color: #0ef;
    
}
button:hover {
   background-color: #0ef;
    box-shadow: 0 .5rem 1rem var(--main-color);
}
button:active {
    background-color: #0ef;
}
button:checked {
    background-color: #0ef;
}
.footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p {
    color: var(--text-color);
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transform: .5sec ease;
    
}
.footer-iconTop a:hover {
    box-shadow: 0 0 .5rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
.favicon {
    border-radius: 60%;
    border-style: ridge;
    width: 2rem;
    height: 2rem;
    border: none;
    border-color: #0ef;
    
}
